@model IEnumerable<SensorDeEventos.Web.Models.ViewModel.EventoViewModel>

@{
    ViewData["Title"] = "Eventos";
}

<div class="row">
    <div class="col-md-12">
        <h4>
            @ViewData["Title"]
        </h4>
    </div>

    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pais)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Regiao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sensor)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Valor)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.DataDeEntrada)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.HorarioDeEntrada)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Pais)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Regiao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sensor)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Valor)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DataDeEntrada)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.HorarioDeEntrada)
                                        </td>
                                    </tr>
                                }



                            }
                            else
                            {

                                <tr>
                                    <td colspan="7">Você ainda não possui nenhum registro de evento.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

